<div>
  <h1>Bulk Deletion of Employees</h1>
  <br/>

  <% if @employees.present? %>
   <div>
   <%= form_with(url:bulk_delete_bulkdeleteemployees_path, method: :delete, data: {controller: "selectallcheckbox"}) do |f| %>
      <table class="table">
        <thead>
          <tr>
            <th><%= check_box_tag 'select_all', nil, false, id: 'select_all',
            data: {"selectallcheckbox-target": "chkheader",
            action: "change->selectallcheckbox#togglecheckboxes"} %></th>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Department</th>
            <th>Country</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @employees.each do |employee| %>
            <tr>
              <td><%= check_box_tag "employee_ids[]", employee.id, false,
              data: { "selectallcheckbox-target": "chkrow", employeeId: employee.id }
              %></td>
              <td><%= employee.id %></td>
              <td><%= employee.firstname %></td>
              <td><%= employee.lastname %></td>
              <td><%= employee.phone %></td>
              <td><%= employee.email %></td>
              <td><%= employee.department.name %></td>
              <td><%= employee.country.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= f.submit "Delete using checkbox", class: "btn btn-primary" %>
    <% end %>
    </div>
  <% end %>
</div>