<% if product %>
  <tr class="product-<%= product['id'] %>">
  <input type="hidden" class="product-price" value="<%= product['price'] %>">

  <td><%= product['title'] %></td>
  <td>
    <%= image_tag product["image"], height: '50', width: '50' %>
  </td>
  <td>
    <%= product["price"] %>
  </td>
  <td>
    <div class="d-flex mb-4">
      <button class="btn btn-danger btn-minus px-2 me-2">
        <i class="">-</i>
      </button>

      <div class="form-outline">
        <input min="1" name="quantity" value="1" type="number" class="qty" />
      </div>

      <button class="btn btn-danger btn-plus px-2 ms-2">
      +
      </button>
    </div>
  </td>

  </tr>
<% end %>