<div>
  <h1>Bulk Update Employees</h1>
  <br/>
  <br/>

  <% if @employees.present? %>

      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Salary</th>
            <th>Department</th>
          </tr>
        </thead>
        <tbody>
          <% @employees.each do |employee| %>
            <tr>
              <td><%= employee.id %></td>
              <td><%= text_field_tag "employees[#{employee.id}][firstname]", employee.firstname, class: "form-control", readonly: true %></td>
              <td><%= text_field_tag "employees[#{employee.id}][lastname]", employee.lastname, class: "form-control", readonly: true %></td>
              <td><%= text_field_tag "employees[#{employee.id}][salary]", employee.salary, class: "form-control", readonly: true %></td>
              <td><%= select_tag "employees[#{employee.id}][department_id]", options_from_collection_for_select(select_department, :id, :name, employee.department.id), class: "form-control", readonly: true, disabled: true %></td>
              </tr>
          <% end %>
        </tbody>
      </table>
  <% end %>
</div>