<h1>New user</h1>

<%= form_for @user, html: {class: "form-horizontal"} do |f| %>

  <div id="error_explanation">
    <% if @user.errors.present? %>
      <h3 class="error">
        <%= "#{pluralize(@user.errors.count, "error")}
        prohibited this user from being saved:" %>
      </h3>
    <%end%>

    <ul>
      <% @user.errors.full_messages.each do |msg| %>  
        <li><%= msg %></li> 
      <%end%>
    </ul>
  </div>

  <fieldset>
    <div class="form-group row mb-3">
      <label class="col-sm-2 control-label">Name:
        <span class="star">*</span>
      </label>
      <div class="col-sm-10">
        <%= f.text_field :name, placeholder: "Enter Name", class: "form-control" %>
        <%= display_error(@user.errors, :name) %>
      </div>
    </div>
  </fieldset> 

  <fieldset>
  <div class="form-group row mb-3">
    <label class="col-sm-2 control-label">Password:
      <span class="star">*</span>
    </label>
    <div class="col-sm-10">
      <%= f.password_field :password, placeholder: "Enter Password", class: "form-control" %>
      <%= display_error(@user.errors, :password) %>
    </div>
  </div>
</fieldset> 

<fieldset>
<div class="form-group row mb-3">
  <label class="col-sm-2 control-label">Confirm Password:
    <span class="star">*</span>
  </label>
  <div class="col-sm-10">
    <%= f.password_field :password_confirmation, placeholder: "Enter Confirm Password", class: "form-control" %>
    <%= display_error(@user.errors, :password_confirmation) %>
  </div>
</div>
</fieldset>

<fieldset>
<div class="form-group row mb-3">
 <legend class="col-form-label col-sm-2 pt-0">Gender:
 <span class="star">*</span>
 </legend>
 <div class="col-sm-10">
   <div class="form-check">
   <%= f.radio_button :gender, "Male", checked: true, data: {toggle: 'radio'}, class: "form-check-input", id: "male" %>
     <label class="form-check-label" for="male">
     Male
     </label>
   </div>
   <div class="form-check">
   <%= f.radio_button :gender, "Female", data: {toggle: 'radio'}, class: "form-check-input", id: "female" %>
     <label class="form-check-label" for="female">
     Female
     </label>
   </div>
 </div>
</div>
</fieldset>

<fieldset>
<div class="form-group row mb-3">
  <label class="col-sm-2 control-label">Birth Date:
    <span class="star">*</span>
  </label>
  <div class="col-sm-10">
    <%= f.date_field :birthdate, class: "form-control" %>
    <%= display_error(@user.errors, :birthdate) %>
  </div>
</div>
</fieldset>

<fieldset>
<div class="form-group row mb-3">
  <label class="col-sm-2 control-label">Email:
    <span class="star">*</span>
  </label>
  <div class="col-sm-10">
    <%= f.email_field :email, autofocus: true, placeholder: "Enter Email", class: "form-control" %>
    <%= display_error(@user.errors, :email) %>
  </div>
</div>
</fieldset> 

<fieldset>
<div class="form-group row mb-3">
  <label class="col-sm-2 control-label">Phone number:
    <span class="star">*</span>
  </label>
  <div class="col-sm-10">
    <%= f.text_field :phone, placeholder: "Enter Phone Number", class: "form-control" %>
    <%= display_error(@user.errors, :phone) %>
  </div>
</div>
</fieldset> 

<fieldset>
<div class="form-group row mb-3">
  <label class="col-sm-2 control-label">Postal Code:
    <span class="star">*</span>
  </label>
  <div class="col-sm-10">
    <%= f.text_field :postalcode, placeholder: "Enter Postal Code", class: "form-control" %>
    <%= display_error(@user.errors, :postalcode) %>
  </div>
</div>
</fieldset> 

<fieldset>
<div class="form-group row mb-3">
  <label class="col-sm-2 control-label">Notes:
    <span class="star">*</span>
  </label>
  <div class="col-sm-10">
    <%= f.text_area :notes, placeholder: "Enter Notes", class: "form-control" %>
    <%= display_error(@user.errors, :notes) %>
  </div>
</div>
</fieldset> 

<fieldset>
<div class="form-group row mb-3">
  <label class="col-sm-2 control-label">Website URL:
    <span class="star">*</span>
  </label>
  <div class="col-sm-10">
    <%= f.text_field :websiteurl, placeholder: "Enter Website URL", class: "form-control" %>
    <%= display_error(@user.errors, :websiteurl) %>
  </div>
</div>
</fieldset> 

<fieldset>
<div class="form-group row mb-3">
  <label class="col-sm-2 control-label">Terms & Conditions:
    <span class="star">*</span>
  </label>
  <div class="col-sm-10">
    <%= f.check_box :termsandcondition, { class: "form-check-input" } %>
    <%= display_error(@user.errors, :termsandcondition) %>
  </div>
</div>
</fieldset>

<fieldset>
<div class="form-group row mb-3">
  <label class="col-sm-2 control-label">Role:
    <span class="star">*</span>
  </label>
  <div class="col-sm-10">
    <%= f.text_field :role, placeholder: "Enter Role(e.g. admin, moderator, regulator )", class: "form-control" %>
    <%= display_error(@user.errors, :role) %>
  </div>
</div>
</fieldset>

  <%= f.submit 'SignUp', class: "btn btn-primary", formnovalidate: true %>

<%end%>