<table class="table">
  <tr>
  <td>Name</td>
  <td>Is Visible</td>
  <td>Is Logged In?</td>
  <td>Country Code</td>
  <td>Work Experience</td>
  <td>State Code</td>
  </tr>

  <tr>
    <td><%= @data[:name] %></td>
    <td><%= @data[:isVisible] %></td>
    <td><%= @data[:loggedIn] %></td>
    <td><%= @data[:countryCode] %></td>
    <td><%= @data[:workExperience] %></td>
    <td><%= @data[:stateCode] %></td>
  </tr>
</table>

<% if @data[:loggedIn] %>
  <h1> Hi <%= @data[:name]%>! You are logged in!</h1>
<% else %>
  <h1> Hi <%= @data[:name]%>! You are not logged in!</h1>
<% end %>