<div>

<p>Month is <%= @currenttime.month%>
<p>Day is <%= @currenttime.day%>
<p>Year is <%= @currenttime.year%>
<p>Week day is <%= @currenttime.wday%>
<p>Day is <%= @currenttime.yday%>
<p>Hour is <%= @currenttime.hour%>
<p>Minute is <%= @currenttime.min%>
<p>Secinds is <%= @currenttime.sec%>
<p>Zone is <%= @currenttime.zone%>

</div>