<div>
<h1>Cascading Select Box</h1>

<%= form_with(url: offshoreemployees_path, method: :post) do |f| %>
  <fieldset>
    <div class="form-group row mb-3">
      <label class="col-sm-2 control-label">
        First Name:
        <span class="star">*</span>
      </label>
      <div class="col-sm-10">
        <%= f.text_field :first_name, placeholder: "Enter First Name", class: "form-control" %>
      </div>
    </div>
  </fieldset>

  <fieldset>
  <div class="form-group row mb-3">
    <label class="col-sm-2 control-label">
      Last Name:
      <span class="star">*</span>
    </label>
    <div class="col-sm-10">
      <%= f.text_field :last_name, placeholder: "Enter Last Name", class: "form-control" %>
    </div>
  </div>
</fieldset>

<div data-controller="cascadingselect">
  <fieldset>
  <div class="form-group row mb-3">
    <label class="col-sm-2 control-label">
      Country:
      <span class="star">*</span>
    </label>
    <div class="col-sm-10">
      <%= f.select :country_id, options_from_collection_for_select(select_country, 'id', 'name'), { include_blank: 'Select Country' }, class: "form-control", autofocus: true, 
      data: { action: "change->cascadingselect#loadStates", "cascadingselect-target": "countrySelect" }  %>
    </div>
  </div>
  </fieldset>

  <fieldset>
  <div class="form-group row mb-3">
    <label class="col-sm-2 control-label">
      State:
      <span class="star">*</span>
    </label>
    <div class="col-sm-10">
      <%= f.select :state_id, options_from_collection_for_select([], 'id', 'name'), { prompt: 'Select State' }, class: "form-control", autofocus: true, 
      data: { action: "change->cascadingselect#loadCities", "cascadingselect-target": "stateSelect" }  %>
    </div>
  </div>
  </fieldset>

  <div class="form-group row mb-3">
    <label class="col-sm-2 control-label">
      City:
      <span class="star">*</span>
    </label>
    <div class="col-sm-10">
      <%= f.select :city_id, options_from_collection_for_select([], 'id', 'name'), { prompt: 'Select City' }, class: "form-control", autofocus: true, 
      data: { "cascadingselect-target": "citySelect" }  %>
    </div>
  </div>
  </fieldset>
</div>

  <%= f.submit "Insert Record", class: "btn btn-primary" %>

<% end %>
</div>