
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 mt-4">
        	<h4 class="mt-2">
        		<%= "#{@employee.firstname} #{@employee.lastname}" %>
        	</h4>
        	<div class="mb-1">
        		<span>CV</span>
        		<%= link_to @cv_file_path, employees_download_file_path(download_path: @cv_file_path) %>
        	</div>

        	<div class="mb-1">
        		<span>Photo</span>
        		<%= link_to @my_pic_file_path, employees_download_file_path(download_path: @my_pic_file_path) %>
        	</div>

        	<div>
        		<div>Pan Card</div>
        		<div>
        			<%= image_tag @employee.pan_card, style: "height: 200px; width: 300px" %>
        		</div>
        	</div>

        	<div>
        		<div>Certificates</div>
        		<ul>
        			<% @certificates.each do |certi| %>
        				<li><%= link_to certi, employees_download_file_path(download_path: certi) %></li>
        			<% end %>
        		</ul>
        	</div>

        	<div class="mt-2">
                <%= link_to 'Back', employeeinfodetails_path, class: 'btn btn-secondary' %>
        	</div>
        </div>
    </div>
</div>
